.wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    // left: 0;
    width: 356px;
    margin-top: 60px;
    padding: 20px 0 26px 0;
    overflow-y: scroll;
    scroll-behavior: smooth;

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &:hover {
        &::-webkit-scrollbar-thumb {
            background-color: rgba(22, 24, 35, 0.06);
        }
    }
}
