.wrapper {
   
    position: fixed;
    z-index: 9999;
    inset: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.modal-content {
    position: relative;
    max-height: var(--modal-max-height);
    max-width: var(--modal-max-width);
    background-color: var(--white);
    border-radius: 8px;
    animation: scaleUp 0.1s ease-in-out;
    .back-btn {
        position: absolute;
        top: 14px;
        left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .fa-chevron {
        width: 20px;
        height: 20px;
    }

}

@keyframes scaleUp {
    from {
        scale: 0.3;
    }
    to {
        scale: 1;
    }
}

.modal-agreement {
    display: flex;
    justify-content: center;
    -webkit-box-pack: center;
    align-items: center;
    -webkit-box-align: center;
    padding: 16px 30px;
    border-color: #1618231f;
    border-bottom: 1px solid #1618231f;
    p {
        text-align: center;
        width: 375px;
        font-size: 1.2rem;
        line-height: 1.5rem;
        color: rgba(22, 24, 35, 0.5);
    }
}

.modal-link {
    color: var(--text-color);

    &:hover {
        text-decoration: underline currentColor;
    }
}

.footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

.modal-footer {
    display: flex;
    justify-content: center;
    -webkit-box-pack:center;
    align-items: center;
    -webkit-box-align: center;
    height: 64px;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: var(--text-color);
    border-top: 0.5px solid rgba(22, 24, 35, 0.12);
}

.sign-up {
    margin-left: 5px;
    font-weight: 600;
    color: rgb(254, 44, 85);
    cursor: pointer;
    &:hover {
        text-decoration: underline rgb(254, 44, 85);
    }
}
