.wrapper {
    display: flex;
    padding: 9px 16px;
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
    
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.info {
   padding-left: 8px;
}
.name {
    font-size: 1.6rem;
    line-height: 21px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.check {
    margin-left: 8px;
    color: rgb(32, 213, 236);
}
.username {
    font-size: 1.4rem;
    line-height: 18px;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}