.wrapper{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    width: var(--default-layout-width);
    max-width: 100%;
    margin-top: var(--default-layout-header-height);
}

.content{
    margin-left: 365px;
}
